<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03 Guestbook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="bmi.css">
</head>
<body class="container">
<br>
  <br>
  <br>
<div class=row>
  <div class=col-md-6>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
			<span class="icon-bar"></span>
          </button>
				<a class="navbar-brand" href="index.html">BMI.com</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
          <li><a href="calculate.html">Calculate</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="../views/index.ejs">GuestBook</a></li>
				</ul>
			</div>
		</div>
	</nav>
  </div></div>
  <br>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right" id="f1">
Write in the guestbook
</a>
</h1>      